#navbar {
/*  overflow: hidden;  */
/*  background-color: #5CDB95; */
}

.top-left-logo {
  float: left;
  display: block;
  width: 70px;
  height: 70px;
  padding: 10px;
}

.shopping-icon {
  float: right;
  padding: 10px;
  font-size: 60px;
  color: #05386B;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 800px) {
  .top-left-logo {
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .shopping-icon {
    float: right;
    padding: 10px;
    font-size: 35px;
    color: #05386B;
  }

  .content {
    padding: 16px;
  }
}
